<mat-expansion-panel class="entity" *ngIf="contact">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <sup>{{ contact.title }}</sup> {{ contact.firstName}} {{ contact.lastName}}
        </mat-panel-title>
        <mat-panel-description>
            {{ contact.type }}
            <!-- <mat-icon>date_range</mat-icon> -->
        </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-grid-list cols="4" rowHeight="90px">
        <mat-grid-tile *ngFor="let action of actions">
            <div class="action" [ngClass]="{
                'delete-action': action.isDelete
            }">
                <button mat-icon-button>
                    <mat-icon>{{action.maticon}}</mat-icon>
                </button><br>
                {{action.display}}
            </div>
        </mat-grid-tile>
    </mat-grid-list>

</mat-expansion-panel>