<mat-card>
  <mat-card-header>
    <mat-card-title>
      Comments
    </mat-card-title>
    <mat-card-subtitle>
      <br>
      <button mat-fab extended color="none" (click)="openFormModal(commentFormTemplate)">
        <mat-icon>add</mat-icon>
        Add Comment
      </button><br><br>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content align="start">
    <ng-container *ngFor="let c of comments">
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle><a routerLink="/user/profile/{{c.user.username}}">{{c.user.username}}</a> {{c.creationDate
            ?
            (c.creationDate.toString() | commentTime) : ''}} ago</mat-card-subtitle>
          <span class="spacer"></span>

          <button mat-icon-button color="none" *ngIf="isAdmin || c.user._id === userId"
            (click)="openFormModal(commentFormTemplate, c._id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="none" *ngIf="isAdmin || c.user._id === userId"
            (click)="openRemoveModal(c._id)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content>
          {{c.content}}
        </mat-card-content>
      </mat-card>

    </ng-container>
  </mat-card-content>
</mat-card>

<!-- 
<div class="row">
  <div class="comments col-md-9">
    <h3 class="mb-2">Comments</h3>

    <div class="row pt-2">
      <div class="col-12">
        <button [hidden]="!isLogged" type="button" class="btn btn-primary"
          (click)="openFormModal(commentFormTemplate)">Add Comment
        </button>
      </div>
    </div>

    <div class="comment mb-2 row" *ngFor="let c of comments">
      <div class="comment-avatar col-md-1 col-sm-2 text-center pr-1">
        <a routerLink="/user/profile/{{c.user.username}}">
          <img class="mx-auto rounded-circle img-fluid" src="{{c.user.avatar}}" alt="avatar" />
        </a>
      </div>
      <div class="comment-content col-md-11 col-sm-10">
        <h6 class="small comment-meta">
          <a routerLink="/user/profile/{{c.user.username}}">by {{c.user.username}}</a> {{c.creationDate ?
          (c.creationDate.toString() | commentTime) : ''}} ago
        </h6>
        <div class="comment-body">
          <p>{{c.content}}</p>
          <button [hidden]="!isAdmin && c.user._id !== userId" type="button" class="btn btn-primary btn-sm"
            (click)="openFormModal(commentFormTemplate, c._id)">Edit Comment
          </button>
          <button [hidden]="!isAdmin && c.user._id !== userId" type="button" class="btn btn-danger btn-sm"
            (click)="openRemoveModal(remove, c._id)">Delete Comment
          </button>
        </div>
      </div>
    </div>

    <div class="row pt-2">
      <div class="col-12">
        <button type="button" class="btn btn-primary" (click)="loadMoreComments()">Load More...</button>
      </div>
    </div>

  </div>
</div> -->

<ng-template #commentFormTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{action}} Comment</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="commentModalRef?.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #formDir="ngForm" [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <textarea class="form-control" name="content" cols="30" rows="10" formControlName="content"></textarea>
        <div class="test">
          <button type="submit" class="btn btn-primary" (click)="commentModalRef?.hide()"
            [disabled]="commentForm.invalid">Submit</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>