<ng-template [ngIf]="contacts && contacts.length>0">
  <div class="top">
    <pagination-controls (pageChange)="pageChanged($event)" [maxSize]="maxPages" [directionLinks]="true"
      [autoHide]="true" [responsive]="true" previousLabel="Previous" nextLabel="Next"
      screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div>
  <div class="contacts-store">
    <ng-container *ngFor="let contact of contacts | paginate: {
      itemsPerPage: pageSize,
      currentPage: currentPage,
      totalItems: total }">
      <app-contact [contact]="contact"></app-contact>
      <br>
    </ng-container>
  </div>
  <div *ngIf="contacts.length === 0" class="no-results">
    <img src="https://i.imgur.com/KRVihMq.png" alt="no-item-found">
  </div>
  <div class="bottom">
    <pagination-controls (pageChange)="pageChanged($event)" [maxSize]="maxPages" [directionLinks]="true"
      [autoHide]="true" [responsive]="true" previousLabel="Previous" nextLabel="Next"
      screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
    </pagination-controls>
  </div>
</ng-template>